<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uninet.myumrah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoTittle">
        <activity android:name=".activity.login_aplikasi.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.login_aplikasi.LoginActivity" />
        <activity
            android:name=".activity.daftar_umroh.DaftarUmrohActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.daftar_umroh.ListPaketActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.daftar_umroh.CicilanPaketActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.daftar_umroh.DataPendukungActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.KoperasiApprovalActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.BankApprovalActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.MyUmrahApprovalActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.JamahApprovalActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.JamaahApprovalBankActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.JamaahApprovalMyUmrohActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.pembayaran.BayarDownPaymentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.pembayaran.BayarFullPaymentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.pembayaran.BayarBelanjaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.perubahan.LinkKeluargaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.perubahan.PenggantianJamaahActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.status.StatusPersetujuanKoperasiActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.status.StatusPersetujuanBankActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.status.StatusPersetujuanTravelActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>