<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uninet.myumrah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoTittle">
        <activity android:name=".activity.login_aplikasi.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.login_aplikasi.Login" />
        <activity
            android:name=".activity.daftar_umroh.DaftarUmroh"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.daftar_umroh.ListPaket"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.daftar_umroh.CicilanPaket"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.daftar_umroh.DataPendukung"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.KoperasiApproval"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.BankApproval"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.MyUmrahApproval"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.JamahApproval"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.JamaahApprovalBank"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.approval.JamaahApprovalMyUmroh"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.pembayaran.BayarDownPayment"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.pembayaran.BayarFullPayment"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.pembayaran.BayarBelanja"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.perubahan.LinkKeluarga"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.perubahan.PenggantianJamaah"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>